<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<servlet>
<servlet-name>hllo</servlet-name>
<servlet-class>HelloServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>userLogin</servlet-name>
<servlet-class>UserLogin</servlet-class>
</servlet>
<servlet>
<servlet-name>moduleDetails</servlet-name>
<servlet-class>ModuleDetails</servlet-class>
</servlet>
<servlet>
<servlet-name>projectDetails</servlet-name>
<servlet-class>ProjectDetails</servlet-class>
</servlet>
<servlet>
<servlet-name>Loginvalidation</servlet-name>
<servlet-class>LoginValidation</servlet-class>
</servlet>
<servlet>
<servlet-name>shop</servlet-name>
<servlet-class>ShoppingCartServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>sessionman</servlet-name>
<servlet-class>SessionManagement</servlet-class>
</servlet>
<servlet>
<servlet-name>employeDetails</servlet-name>
<servlet-class>EmployeDetails</servlet-class>
</servlet>
<servlet>
<servlet-name>clientDetails</servlet-name>
<servlet-class>ClientDetails</servlet-class>
</servlet>
<servlet>
<servlet-name>Teamcreation</servlet-name>
<servlet-class>TeamCreation</servlet-class>
</servlet>
<servlet>
<servlet-name>Workassignment</servlet-name>
<servlet-class>WorkAssignment</servlet-class>
</servlet>
<servlet>
<servlet-name>Timedetails</servlet-name>
<servlet-class>TimeDetails</servlet-class>
</servlet>
<servlet>
<servlet-name>Sendmail</servlet-name>
<servlet-class>SendMail</servlet-class>
</servlet>
<servlet>
<servlet-name>Sendmailcheck</servlet-name>
<servlet-class>SendMailCheck</servlet-class>
</servlet>
<servlet>
<servlet-name>Deletemail</servlet-name>
<servlet-class>DeleteMail</servlet-class>
</servlet>
<servlet>
<servlet-name>Workstatu</servlet-name>
<servlet-class>WorkStatu</servlet-class>
</servlet>
<!--
        <init-param>
            <param-name>foo</param-name>
            <param-value>bar</param-value>
        </init-param>
-->
<servlet-mapping>
<servlet-name>hllo</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>employeDetails</servlet-name>
<url-pattern>/employedetails</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>shop</servlet-name>
<url-pattern>/shopcart</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>sessionman</servlet-name>
<url-pattern>/session</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>clientDetails</servlet-name>
<url-pattern>/clientdetails</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>projectDetails</servlet-name>
<url-pattern>/projectdetails</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>moduleDetails</servlet-name>
<url-pattern>/moduledetails</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>userLogin</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Loginvalidation</servlet-name>
<url-pattern>/loginvalidation</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Teamcreation</servlet-name>
<url-pattern>/teamcreation</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Workassignment</servlet-name>
<url-pattern>/workassignment</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Timedetails</servlet-name>
<url-pattern>/timedetails</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Sendmail</servlet-name>
<url-pattern>/sendmail</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Sendmailcheck</servlet-name>
<url-pattern>/sendmailcheck</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Deletemail</servlet-name>
<url-pattern>/deletemail</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Workstatu</servlet-name>
<url-pattern>/workstatu</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>/HomePage.jsp</welcome-file>
</welcome-file-list>
</web-app>
